/* SidebarMenu.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f8f9fa;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-200px);
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 200px;
  z-index: 1000;
  transform: translateY(-50%);
}

.menu-content {
  padding: 20px;
}

.menu-content h4 {
  margin-bottom: 20px;
}

.menu-content button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
